:root {
    --cc-bg: #24273a;
    --border-radius: 12px;

    --noti-bg-alpha: 0.9;
    --noti-bg: 36, 39, 58;
    --noti-bg-hover: rgb(73, 77, 100);

    --font-size-body: 13px;
    --font-size-summary: 14px;

    --mpris-album-art-overlay: rgba(0, 0, 0, 0.55);
    --mpris-button-hover: rgba(160, 160, 160, 0.5);
    --mpris-album-art-icon-size: 96px;
    --mpris-album-art-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
}

.widget-title button{
    font-size: 12px;
    padding: 2px;
}

.control-center, .notification {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8), inset 0 0 0 1px #363a4f;
}

.notification {
    font-family: 'Monofur Nerd Font';
    color: green;
}

.notification-content {
    min-height: 20px;
    padding: 10px;
}

.notification-content .summary {
    color: #cad3f5;
}

.notification-content .time {
    color: #a5adcb;
}

.notification-content .body {
    color: #b8c0e0;
}

.control-center .notification-group {
    background-color: #2a2e42;
    border-radius: var(--border-radius);
    margin: 8px;
    padding: 8px;
}

.control-center scrollbar {
    background: transparent;
    border: none;
}
.control-center scrollbar trough {
    background: #212e42;
    padding: 2px;
}
.control-center scrollbar trough slider {
    background: #24273a;
    border: none;
    min-width: 6px;
    margin: 0px;
}

.widget-mpris button {
    background: white;
}
